[Unit]
Description = Store host names and IP-addresses periodically. In case of failure updating the ip to dy.fi -service.

[Service]
# Oneshot allows multiple ExecStart, run in sequantilly
Type=oneshot
ExecStart=/%h/bin/ip-logger kauhajoki.dy.fi
ExecStart=/%h/bin/ip-logger minix.dy.fi
WorkingDirectory=/%h/bin

[Install]
WantedBy=default.target
